{% extends 'base.html' %}
{% block page_heading %}
Om's Observations
{% endblock %}
{% block content %}
<h2 class="text-center">by Om Joshi</h2>
{% if posts %}
<hr>
<p>Latest <a href="{% url 'blog:post_list' %}">blog</a> posts:</p>
{% for post in posts %}
<p><a href="{{ post.get_absolute_url }}">{{ post.title|safe }}</a>, posted {{ post.created|date:"F d, Y" }}</p>
{% endfor %}
{% endif %}
<hr>
<h3>Hi there! Welcome to my website! 👋</h3>
<p>I graduated from The University of Texas at Austin in spring 2024 with a Bachelor of Science in Electrical Engineering, a Bachelor of Arts in Plan II Honors, a Bachelor of Science in Mathematics, and a minor in History.</p>
<p>I spent much of my time at UT as an undergraduate researcher in the <a href="https://sites.utexas.edu/shyamshankar/">Quantum Circuits Group</a>, led by professor Shyam Shankar of the ECE department at UT. The research group "builds superconducting and semiconducting quantum devices and circuits for applications in quantum information science and engineering," and this work is at the intersection of nanofabrication, superconductivity, and microwave engineering, among other fields.</p> 
<p>In spring 2023, I went on exchange to ETH Zürich in Switzerland. There, I worked on a research project within the <a href="https://hyqu.ethz.ch/">Hybrid Quantum Systems Group</a>, led by professor Yiwen Chu. I also took several graduate courses through the Master in Quantum Engineering program. </p> 
<p>Here are <a href="{% url 'research:researchproject_list' %}">some of the research projects on which I've worked</a> (I'll get around to updating this soon).</p>
<p>And here's a detailed list of <a href="{% url 'homepage:course_list' %}">courses I took at UT Austin and ETH Zürich and some of my thoughts on them</a>. I also wrote about studying quantum engineering and (introductory) German at ETH Zürich <a href="{% url 'blog:post_detail' 22 %}">here</a>.</p>
<hr>
<p>In summer 2022, I worked at Intel in <a href="https://www.intel.com/content/www/us/en/developer/topic-technology/open/graphics-numerical-hardware/overview.html">The Numerical Hardware Group</a>, an applied research group within Intel Graphics that focuses on computer arithmetic and mathematical hardware. <a href="{% url 'blog:post_detail' 11 %}">Somewhere within this long blog post I briefly talk about what I did</a>. In summer 2021, I worked at Cisco in the Advanced Security Initiatives Group. In summer 2020, all of academic year 2020-2021, and summer 2017, I worked at Digital Defense as a Technology Team Intern.</p>
<hr>
<h3 class="text-center">Reading and Writing</h3>
<p>In the summer after 11th grade (summer 2019), I started a blog so I could practice writing. I wrote a few posts about esoteric things like <a href="{% url 'blog:post_detail' 2 %}">making a super PAC</a> and <a href="{% url 'blog:post_detail' 7 %}">exploring the Texas Administrative Code</a>. I <a href="{% url 'blog:post_detail' 9 %}">rebooted the blog in summer 2022 after rebuilding the blog engine using Django</a>. Later that year, I hiked the Grand Canyon rim-to-rim and <a href="{% url 'blog:post_detail' 15 %}">wrote about my experiences</a>. Here's a <a href="{% url 'blog:post_list' %}">link</a> to the blog homepage.</p>
<p>I enjoy collecting and reading books, especially textbooks, nonfiction, and science fiction. Here's a partial list of <a href="{% url 'homepage:book_list' %}">books I've read and my thoughts on some of them</a>.</p>
<hr>
<h3 class="text-center">Contact Info</h3>
<p>How to reach me: email firstname at website.</p>
<hr>
<h3 class="text-center">Web Design</h3>
<p>Here are my core web design principles:</p>
<ul>
<li>Use Bootstrap</li>
<li>Center headings</li>
<li>Use &lt;hr&gt; tags to separate content</li>
</ul>
<p>I am currently NOT seeking a position as a front-end web designer.</p>
{% endblock %}
