{% extends 'base.html' %}
{% block page_heading %}
Journal Entries
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'homepage:journal_add' %}" class="btn btn-primary float-sm-right" type="submit">Add</a>
    </div>
</div>

{% for entry in page_obj %}
<hr>
<p>{{ entry }}</p>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8"><p>{{ entry.contents|linebreaks }}</p></div>
<div class="col-sm-2"></div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
