<html lang='en'>
{% block head %}

<head>
    <meta charset='UTF-8'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>
    <title>{% block title %}Om's Observations{% endblock %}</title>
</head>
{% endblock %}

<body class='bg-dark text-light'>
    <nav class='navbar navbar-expand-lg navbar-dark bg-secondary'>
        <div class='container-fluid'>
            <a class='navbar-brand' href='{% url 'homepage:homepage' %}'>
                <img src='' alt='' width='30' height='24'
                    class='d-inline-block align-text-top'>
                Om's Observations
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:homepage' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:course_list' %}">Courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:book_list' %}">Books</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects:project_list' %}">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:quote_list' %}">Quotes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blog</a>
                  </li>
                </ul>
              </div>
        </div>
    </nav>
    <div class='container my-md-4'>
      <h1 class='text-center'>{% block page_heading %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>