<!doctype html>
<html lang='en'>
{% block head %}

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>{% block title %}Om's Observations{% endblock %}</title>
</head>
{% endblock %}

<body class='bg-dark text-light'>
    <nav class='navbar navbar-expand-lg navbar-dark'>
        <div class='container-fluid'>
            <a class='navbar-brand' href='{% url 'homepage:homepage' %}'>
                <!-- <img src='/static/icon.png' alt='' width='30' height='24'
                    class='d-inline-block align-text-top'> -->
                🎻 ⚡ Om's Observations
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNav" aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="collapseNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:homepage' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:course_list' %}">Courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:book_list' %}">Books</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects:project_list' %}">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:quote_list' %}">Quotes</a>
                  </li>
{% if user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:journal' %}">Journal</a>
                  </li>
{% endif %}
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blog</a>
                  </li>
                </ul>
              </div>
        </div>
    </nav>
    <div class='container my-4'>
      <h1 class='text-center'>{% block page_heading %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
